<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>YelpCamp</title>
        <script src="https://maps.googleapis.com/maps/api/js?key=<%=process.env.GOOGLE_MAPS_API_KEY%>"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
   <body id="landing">
        <div id="landing-header">
 	         <h1>Welcome to YelpCamp!</h1>
             <a href="/campgrounds" class="btn btn-lg btn-success">View All Campgrounds</a>
        </div>
        <ul class="slideshow">
             <li></li>
             <li></li>
             <li></li>
             <li></li>
             <li></li>
        </ul>
   </body>
</html>