<% include ../partials/header %>
<!--// make the images raised as a button on the keyboard-->

<form action="/campgrounds" method="POST">
    <div class="container">
     <!--<header class="jumbotron">-->
     <!--    <div class="container">-->
     <!--        <h1>Welcome To YelpCamp!</h1>-->
     <!--        <p>View our hand-picked campgrounds from all over the world</p>-->
            
     <!--    </div>-->
     <!--</header>-->
     
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% photo.forEach(function(pic){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <img src="<%= pic.urls.thumb %>">
                   <div class="caption">
                       <h4><%= pic.user.name %></h4>
                   </div>
                   <p>
                       <input type="radio" name="photo" value="<%=pic.urls.regular%>">
                   </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>
 
                 <button id="pic-submit" class="btn btn-lg btn-primary btn-block">Submit!</button>
</form>

<% include ../partials/footer %>