<% include ../partials/header %>

<form action="/campgrounds" method="POST">
    <div class="container">
          <div class="row text-center" style="display:flex; flex-wrap: wrap;">
            <% photo.forEach(function(pic){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <img src="<%= pic.urls.thumb %>">
                   <div class="caption pic-name">
                       <h4 class="pic-name"><%= pic.user.name %></h4>
                   </div>
                   <p>
                       <input type="radio" name="photo" value="<%=pic.urls.regular%>">
                   </p>
                </div>
            </div>
            <% }); %>
        </div>
   </div>
   <button id="pic-submit" class="semi-transparent-button  btn btn-lg btn-primary btn-block">Submit!</button>
</form>

<% include ../partials/footer %>